h1, h2, h3, h4, h5, h6 {
    color: #b5e853;!important;
}
.inner {
    max-width: 900px;
}

a {
    color: #b5e853
}
table {
    border: 1px solid #556537;
}
th{
    background-color: #272d1b;
    color: #b5e853;
}
td {
    border: 1px solid #556537;
}
#main_content{
    min-height: 63vh;
}
header h1::before {
    content: "";
}
#sticky-footer{
    background-color: #222222!important;
}
header h1 {
    margin-left: 0;
}
.about_me_photo{
    width:250px;
    float:right;
    box-shadow:10px 10px 10px #b5e853;
}
section p{
    color: white;
}
li, ol, table{
    color: white;
}
.nav {
    text-align: center;
    background-color: white;
}

html,
body {
    height: 100%;
    min-height: 100vh;
}

#page-content {
    flex: 1 1 auto;
}

#sticky-footer {
    flex-shrink: 0;
}
#sticky-footer p{
    color: white;
}

#sticky-footer a:hover {
    color: #b5e853;
    text-decoration: none;
}

#sticky-footer .social-icons {
    text-align: right
}

#sticky-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.social-icons {
    text-align: center
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #b5e853;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color:#b5e853;

}

.social-icons a.twitter:hover {
    background-color: #b5e853;
}

.social-icons a.linkedin:hover {
    background-color: #b5e853;
}

.social-icons a.github:hover {
    background-color: #b5e853;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
.navigation a {
    color: #b5e853;
    text-decoration: none;
}
.navigation{
    color: #666
}
header {
    border-bottom: 1px solid #b5e853;
}

/*table {*/
/*    border: 1px solid #373737;*/
/*    margin-bottom: 20px;*/
/*    text-align: left;*/
/*    margin: 0 -30%;*/
/*    width: 160%;*/
/*    line-height: 1;*/
/*    font-size: 14px;*/
/*}*/
.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #666;
    list-style: none;

    /*color: black;*/
}
/*.third-level-menu > li:hover { background: #CCCCCC; }*/

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    /*color: black;*/
    position: relative;
    height: 30px;
    background: #666;
    list-style: none;

}
/*.second-level-menu > li:hover { background: #CCCCCC; }*/

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    list-style: none;
}
/*.top-level-menu > li:hover { background: #CCCCCC; }*/

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */
ul, li{
    list-style-type: none;
}
.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    /*font: bold 14px Arial, Helvetica, sans-serif;*/
    /*color: #FFFFFF;*/
    text-decoration: none;
    /*padding: 0 0 0 10px;*/

    /*/* Make the link cover the entire list item-container
    /*display: block;*/
    /*line-height: 30px;*/
}
.top-level-menu a:hover { color: darkgreen; }
.second-level-menu a:hover { color: darkgreen; }
.third-level-menu a:hover { color: darkgreen; }





td {
    padding: 10px;
    border: 1px solid #373737;
}

.planning td:first-child {
    width: 2em;
}

.planning td:nth-child(2) {
    width: 2em;
}

.planning td:nth-child(3), .planning td:nth-child(4) {
    width: 44%;
}


header h1::before {
    content: "";
}

header h1 {
    margin-left: 0;
}

/* .container {
  max-width: 1300px;
} */

.navigation {
    font-size: 23px;
}

#a-title {
    text-decoration: none;
}

/* Cards */

.card {
    box-shadow: 0 0 8px 4px #b5e853;
    transition: 0.3s;
    width: 25%;
    background-color: #151515;
    border-radius: 5px; /* 5px rounded corners */
    margin: 0 auto;
}

.card:hover {
    box-shadow: 0 0 16px 8px #b5e853;
    cursor: pointer;
}

.card h4 {
    font-size: 22px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 5px 5px 0 0;
    width: 50px;
    margin-top: 3px;
}

.flex {
    display: flex;
}

.container h4 {
    text-align: center;
    font-size: 23px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #b5e853;}

.dropdown:hover .dropdown-content {display: block;}

