<!--<div class="navigation" style="text-align: center;">-->
    <ul class="top-level-menu">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/about-me">Over mij</a></li>
        <li><a href="{{site.baseurl}}/learningplan">Leer plan</a></li>
        <li><a href="{{site.baseurl}}/about-me">Over mij</a></li>
        <li><a href="{{site.baseurl}}/project">Project</a></li>
        <li>
            <a href="{{site.baseurl}}/results">Resultaten</a>
            <ul class="second-level-menu">
                <li><a href="#">Should have</a></li>
                <li><a href="#">Could have</a></li>
                <li>
                    <a href="#">Must haves</a>
                    <ul class="third-level-menu">
                        <li><a href="#">Leerdoel 1</a></li>
                        <li><a href="#">Leerdoel 2</a></li>
                        <li><a href="#">Leerdoel 3</a></li>
                        <li><a href="#">Leerdoel 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{site.baseurl}}/feedback">Feedback</a>
            <ul class="second-level-menu">
                <li><a href="{{site.baseurl}}/feedback1">Moment 1</a></li>
                <li><a href="{{site.baseurl}}/feedback2">Moment 2</a></li>
            </ul>
        </li>
    </ul>
<!--</div>-->
