<div class="navigation" style="text-align: center; display: flex">
    <ul class="top-level-menu">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/personal/about-me">Over mij</a></li>
        <li><a href="{{site.baseurl}}/personal/learningplan">Leer plan</a></li>
        <li>
            <a href="{{site.baseurl}}/project/project">R&D Project</a>
            <ul class="second-level-menu">
                <li><a href="{{site.baseurl}}/project/sprint_0">Sprint 0</a></li>
                <li><a href="{{site.baseurl}}/project/sprint_1">Sprint 1</a></li>
                <li><a href="{{site.baseurl}}/project/sprint_2">Sprint 2</a></li>
                <li><a href="{{site.baseurl}}/project/webinar">Webinar</a></li>
            </ul>
        </li>
        <li>
            <a href="{{site.baseurl}}/results">Resultaten</a>
            <ul class="second-level-menu">
                <li><a href="#">Fysiek</a>
                    <ul class="third-level-menu">
                        <li><a href="{{site.baseurl}}/interest/rp">Raspberry Pi Zero W</a></li>
<!--                        <li><a href="{{site.baseurl}}/interest/lockpicking">Lock picking</a></li>-->
                    </ul>
                </li>
                <li>
                    <a href="#">(Pen)Testen</a>
                    <ul class="third-level-menu">
                        <li><a href="{{site.baseurl}}/must/htb">Hack the box</a></li>
                        <li><a href="{{site.baseurl}}/must/pentests">Pen-testing</a></li>
                    </ul>
                </li>
                <li><a href="#">Intresses</a>
                    <ul class="third-level-menu">
                        <li><a href="{{site.baseurl}}/interest/reverse_engineering">Reverse engineering</a></li>
                        <li><a href="{{site.baseurl}}/interest/buffer-overflow">Buffer overflow</a></li>
                        <li><a href="{{site.baseurl}}/must/phishing">Phishing</a></li>
                        <li><a href="{{site.baseurl}}/interest/HTB-CTF">HTB x Uni CTF</a></li>
                        <li><a href="{{site.baseurl}}/interest/picoCTF">picoCTF</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Overig</a>
                    <ul class="third-level-menu">
                        <li><a href="{{site.baseurl}}/overig/vacancies">Vacancies</a></li>
                        <li><a href="{{site.baseurl}}/overig/personal-toolbox">Personal toolbox</a></li>
                        <li><a href="{{site.baseurl}}/overig/artikel">Artikel</a></li>
                    </ul>
                </li>
<!--                <li><a href="{{site.baseurl}}/research/research">Onderzoek</a></li>-->
            </ul>
        </li>
        <li>
            <a href="">Feedback</a>
            <ul class="second-level-menu">
                <li><a href="{{site.baseurl}}/personal/feedback_ron">Ron Mélotte</a></li>
                <li><a href="{{site.baseurl}}/personal/feedback_tom">Tom Broumels</a></li>
                <li><a href="{{site.baseurl}}/personal/feedback_stefan">Stefan Roijers</a></li>
            </ul>
        </li>
    </ul>
</div>
