<div class="navigation" style="text-align: center;">
    <ul class="top-level-menu">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/about-me">Over mij</a></li>
        <li><a href="{{site.baseurl}}/learningplan">Leer plan</a></li>
        <li><a href="{{site.baseurl}}/about-me">Over mij</a></li>
        <li><a href="{{site.baseurl}}/project">Project</a></li>
        <li>
            <a href="{{site.baseurl}}/results">Resultaten</a>
            <ul class="second-level-menu">
                <li><a href="#">Eigen input</a></li>
                <li><a href="#">Could have</a></li>
                <li><a href="#">Should have</a>
                    <ul class="third-level-menu">
                        <li><a href="#">local building</a></li>
                        <li><a href="#">reverse smartphone apps</a></li>
                        <li><a href="#">different levels Hack the Box</a></li>
                        <li><a href="#">analysis on a (smartphone) app</a></li>
                        <li><a href="#">analysis on a website</a></li>
                        <li><a href="#">security of IoT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Must haves</a>
                    <ul class="third-level-menu">
                        <li><a href="#">vacancies</a></li>
                        <li><a href="#">phishing tooling</a></li>
                        <li><a href="#">covert channels</a></li>
                        <li><a href="#">personal toolbox</a></li>
                        <li><a href="#">Hack The Box</a></li>
                        <li><a href="#">pen-test product R&D</a></li>
                        <li><a href="#">red vs blue</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{site.baseurl}}/feedback1">Feedback</a></li>
        <!--            <ul class="second-level-menu">-->
        <!--                <li><a href="{{site.baseurl}}/feedback1">Moment 1</a></li>-->
        <!--                <li><a href="{{site.baseurl}}/feedback2">Moment 2</a></li>-->
        <!--            </ul>-->
        <!--        </li>-->
    </ul>
</div>
