<!DOCTYPE html>

<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/scripts/main.js"></script>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% seo %}
</head>

<body>

<header>
    <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
            {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on
                GitHub</a>
            {% endif %}
        </section>
        {% include nav.html %}
    </div>
</header>

<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
</div>
<footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container text center">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Thomas van Heel.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" target="_blank" href="https://www.facebook.com/thomas.vanheel.73"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="twitter" target="_blank" href="https://twitter.com/?lang=nl"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="github"  target="_blank" href="https://github.com/TvHeel"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/thomas-van-heel-325a731a3/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <small style="float: right; color: white">Last updated - 07'01'2020</small>
            </div>
        </div>
</footer>

{% if site.google_analytics %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
